header{
  height:65px;
  width:100px;
  background-color:rgba(34,49,52,0.9);
  position:fixed;
  top:0;
  z-index:10;
}
.companyName{

}
.header-left{
  float:left;
}
.header-right{
  float:right;
  background-color:rgba(255,255,255,0.3);
  transition: all 0.5s;
}
.header-right:hover{
  background-color:rgba(255,255,255,0.5)
}
.header-right a{
  line-height:54px;
  padding:0 25px;
  color:white;
  display:block;
}
